## Import libraries

In [1]:


import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
from pathlib import Path

# Define Functions

In [3]:
# Function for user stock of choice
def user_stock_choice(stock_of_interest):  
    return stocks

# Function for etf dollar amount
def etf_values(etf_amount):
    
    etf_amount = []
        
    return etf_dollar

# Function for the ETF of choice

def etf_selection(etfs):
    etfs = []

# etfs = str( input("Input your ETF of Interest: ") )
# etf_amount = int( input("Input how much money invested in ETF: ") )
stocks_of_interest = str( input("Input Stock of Interest: ") )


# etf_selection(etfs)

# Function to calculate output

# def calc_output(etfs,stock_of_interest,result_am):
   
#     results_am = etfs * etfs_value
    

#     return calc

Input Stock of Interest:  AAPL

In [4]:
# taking multiple inputs at a time  
etf_sut = [str(etf_sut) for etf_sut in input("Enter the dollar amount : ").split()] 
print("How much are you invested in each ETF : ", etf_sut)

Enter the dollar amount :  1000 5000 2000

How much are you invested in each ETF :  ['1000', '5000', '2000']

In [5]:
# taking multiple inputs at a time  
etf1 = [str(etf1) for etf1 in input("Enter the ETFS of interest: ").split()] 
print("The ETFS you selected are: ", etf1)

Enter the ETFS of interest:  QQQ FTEC SPY

The ETFS you selected are:  ['QQQ', 'FTEC', 'SPY']

In [6]:
  
base_url = 'https://etfdb.com/etf'
function = '#holdings'
# etf_selec = etfs

In [7]:
batch_size = 3
urllist = [f'{base_url}/{etf1[0]}/{function}', f'{base_url}/{etf1[1]}/{function}', f'{base_url}/{etf1[2]}/{function}']
url_chunks = [urllist[x:x+batch_size] for x in range(0, len(urllist), batch_size)]

# def scrape_url(urllist):
#     response = requests.get(urllist)
#     soup = bs(response.content, "html.parser")
#     h1 = soup.find("h1", class_= "class-headline")
#     return (h1.get_text())

# def scrape_batch(url_chunks):
#     chunk_resp = []
#     for urllist in url_chunks:
#         chunk_resp.append(scrape_url(urllist))
#     return chunk_resp

#     for url_chunks in url_chunks:
#         print(scrape_batch(url_chunks))

In [8]:
print((urllist))

['https://etfdb.com/etf/QQQ/#holdings', 'https://etfdb.com/etf/FTEC/#holdings', 'https://etfdb.com/etf/SPY/#holdings']

# Scrape for Data

In [9]:
# Access The ETFDB website 

# # TODO: Have multiple ETF Selections


    
# base_url = 'https://etfdb.com/etf'
# function = '#holdings'
# etf_selec = etfs
    

response1 = requests.get(urllist[0]) .text
response2 = requests.get(urllist[1]) .text
response3 = requests.get(urllist[2]) .text

soup1 = bs(response1, 'lxml')
soup2 = bs(response2, 'lxml')
soup3 = bs(response3, 'lxml')

In [10]:
# Access the Yahoo Finance website

base = 'https://finance.yahoo.com/quote/'

response_stock = requests.get(f'{base}{stocks_of_interest}?p={stocks_of_interest}&.tsrc=fin-srch%27') .text

soup_stock = bs(response_stock,"html.parser")

In [11]:
#Establish frame of searches
#Lists to store 
# Part of page
l={}
u=list()
alldata = soup_stock.find_all('tbody')

alldataint out table of search

In [12]:

try:
 table1 = alldata[0].find_all("tr")
except:
 table1=None
try:
 table2 = alldata[1].find_all("tr")
except:
 table2 = None

In [13]:
for i in range(0,len(table1)):
 try:
   table1_td = table1[i].find_all("td")
 except:
   table1_td = None
 l[table1_td[0].text] = table1_td[1].text
 u.append(l)
 l={}

In [14]:
for i in range(0,len(table2)):
 try:
   table2_td = table2[i].find_all('td')
 except:
   table2_td = None
 l[table2_td[0].text] = table2_td[1].text
 u.append(l)
 l={}

In [15]:
#pull the previous close from list
prev_close = pd.DataFrame(u[:1])

In [16]:
# Search for ETF list data
data1=[]
for row in soup1.select('tbody tr'):
    row_text = [x.text for x in row.find_all('td')]
    data1.append((row_text))
    print(', '.join(row_text))

Open, -, Volume, -
Day Lo, -, Day Hi, -

Cheapest
, BKLC, 0.00%,
$86.2 M
,
13,942
,

Largest (AUM)
, SPY, 0.09%,
$290.7 B
,
68 M
, 5.21%

Most Liquid (Volume)
, SPY, 0.09%,
$290.7 B
,
68 M
, 5.21%

Top YTD Performer
, ARKW, 0.76%,
$2.4 B
,
743,015
, 91.11%
AAPL, Apple Inc, 13.33%
AMZN, Amazon.com Inc, 10.76%
MSFT, Microsoft Corp, 10.71%
FB, Facebook Inc, 4.30%
GOOGL, Alphabet Inc, 3.45%
TSLA, Tesla Inc, 3.40%
GOOG, Alphabet Inc, 3.34%
NVDA, NVIDIA Corp, 2.84%
ADBE, Adobe Inc, 2.04%
PYPL, PayPal Holdings Inc, 1.99%
INTC, Intel Corp, 1.90%
NFLX, Netflix Inc, 1.90%
CMCSA, Comcast Corp, 1.83%
PEP, PepsiCo Inc, 1.65%
CSCO, Cisco Systems Inc, 1.44%
Common equity, 99.97%
ETF Cash Component, 0.03%
Technology, 45.77%
Communications, 19.09%
Consumer, Cyclical, 18.01%
Healthcare, 6.39%
Consumer, Non-Cyclical, 4.66%
Other, 3.66%
Industrials, 1.78%
Utilities, 0.61%
ETF Cash Component, 0.03%
Large cap, 98.21%
Mid cap, 1.73%
Small cap, 0.03%
ETF Cash Component, 0.03%
North America, 95.96%
Europe, 1.88%
Asia, 1.51%
Latin America, 0.47%
Middle East, 0.15%
ETF Cash Component, 0.03%
United States, 95.96%
Developed Markets (ex-US), 2.03%
Emerging Markets, 1.98%
ETF Cash Component, 0.03%
United States, 95.96%
China, 1.51%
Germany, 1.22%
Netherlands, 0.55%
Argentina, 0.47%
Israel, 0.15%
United Kingdom, 0.11%
ETF Cash Component, 0.03%
Common equity, 99.97%
ETF Cash Component, 0.03%

In [17]:
# Search for ETF list data
data2=[]
for row in soup2.select('tbody tr'):
    row_text2 = [x.text for x in row.find_all('td')]
    data2.append((row_text2))
    print(', '.join(row_text2))

Open, -, Volume, -
Day Lo, -, Day Hi, -

Cheapest
, VGT, 0.10%,
$36.3 B
,
825,426
, 26.92%

Largest (AUM)
, VGT, 0.10%,
$36.3 B
,
825,426
, 26.92%

Most Liquid (Volume)
, XLK, 0.13%,
$33.7 B
,
11 M
, 26.66%

Top YTD Performer
, CLOU, 0.68%,
$1.2 B
,
1 M
, 54.44%
AAPL, Apple Inc, 21.76%
MSFT, Microsoft Corp, 16.43%
V, Visa Inc, 3.70%
NVDA, NVIDIA Corp, 3.58%
MA, Mastercard Inc, 3.31%
ADBE, Adobe Inc, 2.59%
CRM, Salesforce.Com Inc, 2.45%
PYPL, PayPal Holdings Inc, 2.38%
INTC, Intel Corp, 2.38%
CSCO, Cisco Systems Inc, 1.81%
AVGO, Broadcom Inc, 1.60%
ACN, Accenture PLC, 1.57%
QCOM, Qualcomm Inc, 1.45%
TXN, Texas Instruments Inc, 1.43%
ORCL, Oracle Corp, 1.34%
Common equity, 99.74%
ETF Cash Component, 0.26%
Technology, 94.95%
Other, 4.67%
ETF Cash Component, 0.26%
Industrials, 0.12%
Communications, 0.01%
Large cap, 87.56%
Mid cap, 7.81%
Small cap, 3.28%
Micro cap, 1.08%
ETF Cash Component, 0.26%
North America, 96.72%
Europe, 2.76%
ETF Cash Component, 0.26%
Middle East, 0.13%
Asia-Pacific, 0.08%
Asia, 0.03%
Latin America, 0.02%
United States, 96.71%
Developed Markets (ex-US), 2.98%
ETF Cash Component, 0.26%
Emerging Markets, 0.03%
Not-designated, 0.02%
United States, 96.71%
Ireland, 1.7%
Netherlands, 0.38%
Switzerland, 0.35%
United Kingdom, 0.32%
ETF Cash Component, 0.26%
Israel, 0.13%
Singapore, 0.08%
Thailand, 0.03%
Puerto Rico, 0.02%
France, 0.01%
Canada, 0.01%
Luxembourg, 0.0%
Common equity, 99.74%
ETF Cash Component, 0.26%

In [18]:
# Search for ETF list data
data3=[]
for row in soup3.select('tbody tr'):
    row_text3 = [x.text for x in row.find_all('td')]
    data3.append((row_text3))
    print(', '.join(row_text3))

Open, -, Volume, -
Day Lo, -, Day Hi, -

Cheapest
, BKLC, 0.00%,
$86.2 M
,
13,942
,

Largest (AUM)
, IVV, 0.04%,
$213.0 B
,
3 M
, 5.21%

Most Liquid (Volume)
, QQQ, 0.20%,
$133.5 B
,
46 M
, 29.71%

Top YTD Performer
, ARKW, 0.76%,
$2.4 B
,
743,015
, 91.11%
AAPL, Apple Inc, 6.63%
MSFT, Microsoft Corp, 5.67%
AMZN, Amazon.com Inc, 4.84%
FB, Facebook Inc, 2.28%
GOOGL, Alphabet Inc, 1.60%
GOOG, Alphabet Inc, 1.56%
BRK.B, Berkshire Hathaway Inc, 1.51%
JNJ, Johnson & Johnson, 1.40%
PG, Procter & Gamble Co, 1.24%
V, Visa Inc, 1.22%
NVDA, NVIDIA Corp, 1.18%
MA, Mastercard Inc, 1.07%
HD, Home Depot Inc, 1.06%
JPM, JPMorgan Chase & Co, 1.05%
UNH, UnitedHealth Group Inc, 1.04%
Common equity, 99.97%
ETF Cash Component, 0.03%
Technology, 27.53%
Healthcare, 13.83%
Consumer, Cyclical, 11.32%
Communications, 10.77%
Financials, 9.24%
Industrials, 7.56%
Consumer, Non-Cyclical, 6.99%
Other, 3.39%
Utilities, 2.92%
Real Estate, 2.58%
Energy, 2.08%
Basic Materials, 1.76%
ETF Cash Component, 0.03%
Large cap, 90.8%
Mid cap, 8.48%
Small cap, 0.7%
ETF Cash Component, 0.03%
North America, 97.9%
Europe, 2.07%
ETF Cash Component, 0.03%
United States, 97.89%
Developed Markets (ex-US), 2.08%
ETF Cash Component, 0.03%
United States, 97.89%
United Kingdom, 0.91%
Ireland, 0.76%
Germany, 0.24%
Switzerland, 0.17%
ETF Cash Component, 0.03%
Canada, 0.01%
Common equity, 99.97%
ETF Cash Component, 0.03%




# Clean up data

In [19]:
#SELECT ONLY STOCK INFO FROM 'DATA' parse through
#TODO: ITERATE THROUGH KEYS RATHER THAN STATIC POSITIONS
stock_list1 = data1[6:21]
stock_list2 = data2[6:21]
stock_list3 = data3[6:21]

In [20]:
stock_list_df1 = pd.DataFrame(stock_list1)
stock_list_df2 = pd.DataFrame(stock_list2)
stock_list_df3 = pd.DataFrame(stock_list3)

In [21]:
 # Rewrite the column names
columns = ["Ticker", "Name","Allocation"]
stock_list_df1.columns = columns
stock_list_df1.head() 


stock_list_df2.columns = columns
stock_list_df2.head() 


stock_list_df3.columns = columns
stock_list_df3.head()

  Ticker            Name Allocation
0   AAPL       Apple Inc      6.63%
1   MSFT  Microsoft Corp      5.67%
2   AMZN  Amazon.com Inc      4.84%
3     FB    Facebook Inc      2.28%
4  GOOGL    Alphabet Inc      1.60%

In [22]:
#try concat, then search

stock_df = pd.concat([stock_list_df1, stock_list_df2, stock_list_df3])

In [23]:
stock_df['Allocation'] = stock_df['Allocation'].str.replace(',', '')
stock_df['Allocation'] = stock_df['Allocation'].str.replace('%', '')
stock_df['Allocation'] = stock_df['Allocation'].astype(float).div(100)

In [24]:
stock_df.head()

  Ticker            Name  Allocation
0   AAPL       Apple Inc       13.33
1   AMZN  Amazon.com Inc       10.76
2   MSFT  Microsoft Corp       10.71
3     FB    Facebook Inc        4.30
4  GOOGL    Alphabet Inc        3.45

In [25]:
# stock_df.Allocation = stock_df.Allocation.astype(float)

# stock_df['Allocation'] = stock_df['Allocation'].div(100)

In [26]:
stock_df['dollar'] = stock_df.Allocation * etf_sut

NameError: name 'etf_amount' is not defined

In [ ]:
stock_df.head()

In [ ]:
#Search user input through various stocks

search_stock = stock_df.loc[stock_df['Ticker'] == stocks_of_interest]
search_stock

In [ ]:
stock_search_price = prev_close['Previous Close'].astype(float)

stock_search_price

In [ ]:
etf_stock_price = search_stock['dollar']

# Craete output

In [ ]:
user_stock = etf_stock_price / stock_search_price

In [ ]:
user_stock

# TESTING

In [ ]:
data[:20]

In [ ]:
def get_stock(item, stonk):
    if item[0] == stonk:
        return item

In [ ]:
for index, item in enumerate(data):
    my_answer = get_stock(item, stocks_of_interest)
    if my_answer != None:
        good_answer = my_answer

In [ ]:
# (lambda x: x[:-1]

In [ ]:
good_answer = good_answer[-1]
good_answer

In [ ]:
good_answer[:-1]