## Import libraries

In [1]:
#Import Libraries
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
from pathlib import Path

# Define Functions

In [2]:
# Function for user stock of choice
def user_stock_choice(stock_of_interest):  
    return stocks

# Function for etf dollar amount
def etf_values(etf_amount):
    
    etf_amount = []
        
    return etf_dollar

# Function for the ETF of choice

def etf_selection(etfs):
    etfs = []


stocks_of_interest = str( input("Input Stock of Interest: ") )

Input Stock of Interest:  FB

In [5]:
# taking multiple inputs at a time  
etf1 = [str(etf1) for etf1 in input("Enter the ETFS of interest: ").split()] 
print("The ETFS you selected are: ", etf1)

Enter the ETFS of interest:  SPY QQQ FTEC XSW RYT

The ETFS you selected are:  ['SPY', 'QQQ', 'FTEC', 'XSW', 'RYT']

In [3]:
# taking multiple inputs at a time  
etf_sut = [str(etf_sut) for etf_sut in input("Enter the dollar amount for each ETF : ").split()] 
print("The dollar amounts for each ETF : ", etf_sut)

Enter the dollar amount for each ETF :  1000 1000 1000 1000 1000

The dollar amounts for each ETF :  ['1000', '1000', '1000', '1000', '1000']

In [4]:
#convert to str to int
etf_sut = [int(i) for i in etf_sut]

In [7]:
  
base_url = 'https://etfdb.com/etf'
function = '#holdings'
# etf_selec = etfs

In [8]:
batch_size = len(etf1)
urllist = [f'{base_url}/{etf1[0]}/{function}', f'{base_url}/{etf1[1]}/{function}', f'{base_url}/{etf1[2]}/{function}', f'{base_url}/{etf1[3]}/{function}', f'{base_url}/{etf1[4]}/{function}']
url_chunks = [urllist[x:x+batch_size] for x in range(0, len(urllist), batch_size)]

In [9]:
print((urllist))

['https://etfdb.com/etf/SPY/#holdings', 'https://etfdb.com/etf/QQQ/#holdings', 'https://etfdb.com/etf/FTEC/#holdings', 'https://etfdb.com/etf/XSW/#holdings', 'https://etfdb.com/etf/RYT/#holdings']

# Scrape for Data

In [10]:
# Access The ETFDB website 

# # TODO: Have multiple ETF Selections

response1 = requests.get(urllist[0]) .text
response2 = requests.get(urllist[1]) .text
response3 = requests.get(urllist[2]) .text
response4 = requests.get(urllist[3]) .text
response5 = requests.get(urllist[4]) .text

soup1 = bs(response1, 'lxml')
soup2 = bs(response2, 'lxml')
soup3 = bs(response3, 'lxml')
soup4 = bs(response4, 'lxml')
soup5 = bs(response5, 'lxml')

In [11]:
# Access the Yahoo Finance website

base = 'https://finance.yahoo.com/quote/'

response_stock = requests.get(f'{base}{stocks_of_interest}?p={stocks_of_interest}&.tsrc=fin-srch%27') .text

soup_stock = bs(response_stock,"html.parser")

In [12]:
#Establish frame of searches
#Lists to store 
# Part of page
l={}
u=list()
alldata = soup_stock.find_all('tbody')

alldataint out table of search

In [13]:

try:
 table1 = alldata[0].find_all("tr")
except:
 table1=None
try:
 table2 = alldata[1].find_all("tr")
except:
 table2 = None

In [14]:
for i in range(0,len(table1)):
 try:
   table1_td = table1[i].find_all("td")
 except:
   table1_td = None
 l[table1_td[0].text] = table1_td[1].text
 u.append(l)
 l={}

In [15]:
for i in range(0,len(table2)):
 try:
   table2_td = table2[i].find_all('td')
 except:
   table2_td = None
 l[table2_td[0].text] = table2_td[1].text
 u.append(l)
 l={}

In [16]:
#pull the previous close from list
prev_close = pd.DataFrame(u[:1])

In [17]:
# Search for ETF list data
data1=[]
for row in soup1.select('tbody tr'):
    row_text = [x.text for x in row.find_all('td')]
    data1.append((row_text))
    print(', '.join(row_text))

Open, -, Volume, -
Day Lo, -, Day Hi, -

Cheapest
, BKLC, 0.00%,
$95.3 M
,
15,545
,

Largest (AUM)
, IVV, 0.04%,
$222.2 B
,
3 M
, 6.59%

Most Liquid (Volume)
, QQQ, 0.20%,
$138.5 B
,
45 M
, 33.66%

Top YTD Performer
, ARKW, 0.76%,
$3.0 B
,
719,929
, 105.23%
AAPL, Apple Inc, 6.63%
MSFT, Microsoft Corp, 5.67%
AMZN, Amazon.com Inc, 4.84%
FB, Facebook Inc, 2.28%
GOOGL, Alphabet Inc, 1.60%
GOOG, Alphabet Inc, 1.56%
BRK.B, Berkshire Hathaway Inc, 1.51%
JNJ, Johnson & Johnson, 1.40%
PG, Procter & Gamble Co, 1.24%
V, Visa Inc, 1.22%
NVDA, NVIDIA Corp, 1.18%
MA, Mastercard Inc, 1.07%
HD, Home Depot Inc, 1.06%
JPM, JPMorgan Chase & Co, 1.05%
UNH, UnitedHealth Group Inc, 1.04%
Common equity, 99.97%
ETF Cash Component, 0.03%
Technology, 27.53%
Healthcare, 13.83%
Consumer, Cyclical, 11.32%
Communications, 10.77%
Financials, 9.24%
Industrials, 7.56%
Consumer, Non-Cyclical, 6.99%
Other, 3.39%
Utilities, 2.92%
Real Estate, 2.58%
Energy, 2.08%
Basic Materials, 1.76%
ETF Cash Component, 0.03%
Large cap, 90.8%
Mid cap, 8.48%
Small cap, 0.7%
ETF Cash Component, 0.03%
North America, 97.9%
Europe, 2.07%
ETF Cash Component, 0.03%
United States, 97.89%
Developed Markets (ex-US), 2.08%
ETF Cash Component, 0.03%
United States, 97.89%
United Kingdom, 0.91%
Ireland, 0.76%
Germany, 0.24%
Switzerland, 0.17%
ETF Cash Component, 0.03%
Canada, 0.01%
Common equity, 99.97%
ETF Cash Component, 0.03%

In [18]:
# Search for ETF list data
data2=[]
for row in soup2.select('tbody tr'):
    row_text2 = [x.text for x in row.find_all('td')]
    data2.append((row_text2))
    print(', '.join(row_text2))

Open, -, Volume, -
Day Lo, -, Day Hi, -

Cheapest
, BKLC, 0.00%,
$95.3 M
,
15,545
,

Largest (AUM)
, SPY, 0.09%,
$300.6 B
,
67 M
, 6.59%

Most Liquid (Volume)
, SPY, 0.09%,
$300.6 B
,
67 M
, 6.59%

Top YTD Performer
, ARKW, 0.76%,
$3.0 B
,
719,929
, 105.23%
AAPL, Apple Inc, 13.33%
AMZN, Amazon.com Inc, 10.76%
MSFT, Microsoft Corp, 10.71%
FB, Facebook Inc, 4.30%
GOOGL, Alphabet Inc, 3.45%
TSLA, Tesla Inc, 3.40%
GOOG, Alphabet Inc, 3.34%
NVDA, NVIDIA Corp, 2.84%
ADBE, Adobe Inc, 2.04%
PYPL, PayPal Holdings Inc, 1.99%
INTC, Intel Corp, 1.90%
NFLX, Netflix Inc, 1.90%
CMCSA, Comcast Corp, 1.83%
PEP, PepsiCo Inc, 1.65%
CSCO, Cisco Systems Inc, 1.44%
Common equity, 99.97%
ETF Cash Component, 0.03%
Technology, 45.77%
Communications, 19.09%
Consumer, Cyclical, 18.01%
Healthcare, 6.39%
Consumer, Non-Cyclical, 4.66%
Other, 3.66%
Industrials, 1.78%
Utilities, 0.61%
ETF Cash Component, 0.03%
Large cap, 98.21%
Mid cap, 1.73%
Small cap, 0.03%
ETF Cash Component, 0.03%
North America, 95.96%
Europe, 1.88%
Asia, 1.51%
Latin America, 0.47%
Middle East, 0.15%
ETF Cash Component, 0.03%
United States, 95.96%
Developed Markets (ex-US), 2.03%
Emerging Markets, 1.98%
ETF Cash Component, 0.03%
United States, 95.96%
China, 1.51%
Germany, 1.22%
Netherlands, 0.55%
Argentina, 0.47%
Israel, 0.15%
United Kingdom, 0.11%
ETF Cash Component, 0.03%
Common equity, 99.97%
ETF Cash Component, 0.03%

In [19]:
# Search for ETF list data
data3=[]
for row in soup3.select('tbody tr'):
    row_text3 = [x.text for x in row.find_all('td')]
    data3.append((row_text3))
    print(', '.join(row_text3))

Open, -, Volume, -
Day Lo, -, Day Hi, -

Cheapest
, VGT, 0.10%,
$37.4 B
,
778,903
, 29.00%

Largest (AUM)
, VGT, 0.10%,
$37.4 B
,
778,903
, 29.00%

Most Liquid (Volume)
, XLK, 0.13%,
$34.5 B
,
10 M
, 28.33%

Top YTD Performer
, CLOU, 0.68%,
$1.3 B
,
1 M
, 59.46%
AAPL, Apple Inc, 21.76%
MSFT, Microsoft Corp, 16.43%
V, Visa Inc, 3.70%
NVDA, NVIDIA Corp, 3.58%
MA, Mastercard Inc, 3.31%
ADBE, Adobe Inc, 2.59%
CRM, Salesforce.Com Inc, 2.45%
PYPL, PayPal Holdings Inc, 2.38%
INTC, Intel Corp, 2.38%
CSCO, Cisco Systems Inc, 1.81%
AVGO, Broadcom Inc, 1.60%
ACN, Accenture PLC, 1.57%
QCOM, Qualcomm Inc, 1.45%
TXN, Texas Instruments Inc, 1.43%
ORCL, Oracle Corp, 1.34%
Common equity, 99.74%
ETF Cash Component, 0.26%
Technology, 94.95%
Other, 4.67%
ETF Cash Component, 0.26%
Industrials, 0.12%
Communications, 0.01%
Large cap, 87.56%
Mid cap, 7.81%
Small cap, 3.28%
Micro cap, 1.08%
ETF Cash Component, 0.26%
North America, 96.72%
Europe, 2.76%
ETF Cash Component, 0.26%
Middle East, 0.13%
Asia-Pacific, 0.08%
Asia, 0.03%
Latin America, 0.02%
United States, 96.71%
Developed Markets (ex-US), 2.98%
ETF Cash Component, 0.26%
Emerging Markets, 0.03%
Not-designated, 0.02%
United States, 96.71%
Ireland, 1.7%
Netherlands, 0.38%
Switzerland, 0.35%
United Kingdom, 0.32%
ETF Cash Component, 0.26%
Israel, 0.13%
Singapore, 0.08%
Thailand, 0.03%
Puerto Rico, 0.02%
France, 0.01%
Canada, 0.01%
Luxembourg, 0.0%
Common equity, 99.74%
ETF Cash Component, 0.26%

In [20]:
# Search for ETF list data
data4=[]
for row in soup3.select('tbody tr'):
    row_text4 = [x.text for x in row.find_all('td')]
    data4.append((row_text4))
    print(', '.join(row_text4))

Open, -, Volume, -
Day Lo, -, Day Hi, -

Cheapest
, VGT, 0.10%,
$37.4 B
,
778,903
, 29.00%

Largest (AUM)
, VGT, 0.10%,
$37.4 B
,
778,903
, 29.00%

Most Liquid (Volume)
, XLK, 0.13%,
$34.5 B
,
10 M
, 28.33%

Top YTD Performer
, CLOU, 0.68%,
$1.3 B
,
1 M
, 59.46%
AAPL, Apple Inc, 21.76%
MSFT, Microsoft Corp, 16.43%
V, Visa Inc, 3.70%
NVDA, NVIDIA Corp, 3.58%
MA, Mastercard Inc, 3.31%
ADBE, Adobe Inc, 2.59%
CRM, Salesforce.Com Inc, 2.45%
PYPL, PayPal Holdings Inc, 2.38%
INTC, Intel Corp, 2.38%
CSCO, Cisco Systems Inc, 1.81%
AVGO, Broadcom Inc, 1.60%
ACN, Accenture PLC, 1.57%
QCOM, Qualcomm Inc, 1.45%
TXN, Texas Instruments Inc, 1.43%
ORCL, Oracle Corp, 1.34%
Common equity, 99.74%
ETF Cash Component, 0.26%
Technology, 94.95%
Other, 4.67%
ETF Cash Component, 0.26%
Industrials, 0.12%
Communications, 0.01%
Large cap, 87.56%
Mid cap, 7.81%
Small cap, 3.28%
Micro cap, 1.08%
ETF Cash Component, 0.26%
North America, 96.72%
Europe, 2.76%
ETF Cash Component, 0.26%
Middle East, 0.13%
Asia-Pacific, 0.08%
Asia, 0.03%
Latin America, 0.02%
United States, 96.71%
Developed Markets (ex-US), 2.98%
ETF Cash Component, 0.26%
Emerging Markets, 0.03%
Not-designated, 0.02%
United States, 96.71%
Ireland, 1.7%
Netherlands, 0.38%
Switzerland, 0.35%
United Kingdom, 0.32%
ETF Cash Component, 0.26%
Israel, 0.13%
Singapore, 0.08%
Thailand, 0.03%
Puerto Rico, 0.02%
France, 0.01%
Canada, 0.01%
Luxembourg, 0.0%
Common equity, 99.74%
ETF Cash Component, 0.26%

In [21]:
# Search for ETF list data
data5=[]
for row in soup3.select('tbody tr'):
    row_text5 = [x.text for x in row.find_all('td')]
    data5.append((row_text5))
    print(', '.join(row_text5))

Open, -, Volume, -
Day Lo, -, Day Hi, -

Cheapest
, VGT, 0.10%,
$37.4 B
,
778,903
, 29.00%

Largest (AUM)
, VGT, 0.10%,
$37.4 B
,
778,903
, 29.00%

Most Liquid (Volume)
, XLK, 0.13%,
$34.5 B
,
10 M
, 28.33%

Top YTD Performer
, CLOU, 0.68%,
$1.3 B
,
1 M
, 59.46%
AAPL, Apple Inc, 21.76%
MSFT, Microsoft Corp, 16.43%
V, Visa Inc, 3.70%
NVDA, NVIDIA Corp, 3.58%
MA, Mastercard Inc, 3.31%
ADBE, Adobe Inc, 2.59%
CRM, Salesforce.Com Inc, 2.45%
PYPL, PayPal Holdings Inc, 2.38%
INTC, Intel Corp, 2.38%
CSCO, Cisco Systems Inc, 1.81%
AVGO, Broadcom Inc, 1.60%
ACN, Accenture PLC, 1.57%
QCOM, Qualcomm Inc, 1.45%
TXN, Texas Instruments Inc, 1.43%
ORCL, Oracle Corp, 1.34%
Common equity, 99.74%
ETF Cash Component, 0.26%
Technology, 94.95%
Other, 4.67%
ETF Cash Component, 0.26%
Industrials, 0.12%
Communications, 0.01%
Large cap, 87.56%
Mid cap, 7.81%
Small cap, 3.28%
Micro cap, 1.08%
ETF Cash Component, 0.26%
North America, 96.72%
Europe, 2.76%
ETF Cash Component, 0.26%
Middle East, 0.13%
Asia-Pacific, 0.08%
Asia, 0.03%
Latin America, 0.02%
United States, 96.71%
Developed Markets (ex-US), 2.98%
ETF Cash Component, 0.26%
Emerging Markets, 0.03%
Not-designated, 0.02%
United States, 96.71%
Ireland, 1.7%
Netherlands, 0.38%
Switzerland, 0.35%
United Kingdom, 0.32%
ETF Cash Component, 0.26%
Israel, 0.13%
Singapore, 0.08%
Thailand, 0.03%
Puerto Rico, 0.02%
France, 0.01%
Canada, 0.01%
Luxembourg, 0.0%
Common equity, 99.74%
ETF Cash Component, 0.26%




# Clean up data

In [22]:
#SELECT ONLY STOCK INFO FROM 'DATA' parse through
#TODO: ITERATE THROUGH KEYS RATHER THAN STATIC POSITIONS
stock_list1 = data1[6:21]
stock_list2 = data2[6:21]
stock_list3 = data3[6:21]
stock_list4 = data4[6:21]
stock_list5 = data5[6:21]

In [23]:
stock_list_df1 = pd.DataFrame(stock_list1)
stock_list_df2 = pd.DataFrame(stock_list2)
stock_list_df3 = pd.DataFrame(stock_list3)
stock_list_df4 = pd.DataFrame(stock_list4)
stock_list_df5 = pd.DataFrame(stock_list5)

In [24]:
 # Rewrite the column names
columns = ["Ticker", "Name","Allocation"]
stock_list_df1.columns = columns
stock_list_df1.head() 


stock_list_df2.columns = columns
stock_list_df2.head() 


stock_list_df3.columns = columns
stock_list_df3.head() 

stock_list_df4.columns = columns
stock_list_df4.head() 

stock_list_df5.columns = columns
stock_list_df5.head()

  Ticker            Name Allocation
0   AAPL       Apple Inc     21.76%
1   MSFT  Microsoft Corp     16.43%
2      V        Visa Inc      3.70%
3   NVDA     NVIDIA Corp      3.58%
4     MA  Mastercard Inc      3.31%

In [25]:
# TODO: THis can be accomplished converting the type in the list from beatifulsoup

In [26]:
stock_list_df1['Allocation'] = stock_list_df1['Allocation'].str.replace(',', '')
stock_list_df1['Allocation'] = stock_list_df1['Allocation'].str.replace('%', '')
stock_list_df1['Allocation'] = stock_list_df1['Allocation'].astype(float).div(100)

In [27]:
stock_list_df2['Allocation'] = stock_list_df2['Allocation'].str.replace(',', '')
stock_list_df2['Allocation'] = stock_list_df2['Allocation'].str.replace('%', '')
stock_list_df2['Allocation'] = stock_list_df2['Allocation'].astype(float).div(100)

In [28]:
stock_list_df3['Allocation'] = stock_list_df3['Allocation'].str.replace(',', '')
stock_list_df3['Allocation'] = stock_list_df3['Allocation'].str.replace('%', '')
stock_list_df3['Allocation'] = stock_list_df3['Allocation'].astype(float).div(100)

In [29]:
stock_list_df4['Allocation'] = stock_list_df4['Allocation'].str.replace(',', '')
stock_list_df4['Allocation'] = stock_list_df4['Allocation'].str.replace('%', '')
stock_list_df4['Allocation'] = stock_list_df4['Allocation'].astype(float).div(100)

In [30]:
stock_list_df5['Allocation'] = stock_list_df5['Allocation'].str.replace(',', '')
stock_list_df5['Allocation'] = stock_list_df5['Allocation'].str.replace('%', '')
stock_list_df5['Allocation'] = stock_list_df5['Allocation'].astype(float).div(100)

In [34]:
stock_list_df1['dollar'] = stock_list_df1.Allocation * etf_sut[0]
stock_list_df2['dollar'] = stock_list_df2.Allocation * etf_sut[1]
stock_list_df3['dollar'] = stock_list_df3.Allocation * etf_sut[2]
stock_list_df4['dollar'] = stock_list_df4.Allocation * etf_sut[3]
stock_list_df5['dollar'] = stock_list_df5.Allocation * etf_sut[4]

In [35]:
#try concat, then search

stock_df = pd.concat([stock_list_df1, stock_list_df2, stock_list_df3, stock_list_df4, stock_list_df5])

In [36]:
#Search user input through various stocks

search_stock = stock_df.loc[stock_df['Ticker'] == stocks_of_interest]
search_stock

  Ticker          Name  Allocation  dollar
3     FB  Facebook Inc      0.0228    22.8
3     FB  Facebook Inc      0.0430    43.0

In [38]:
stock_search_price = prev_close['Previous Close'].replace(',','', regex=True)

In [39]:
stock_search_price = stock_search_price.astype(float)

stock_search_price

0    283.29
Name: Previous Close, dtype: float64

In [40]:
etf_stock_price = search_stock['dollar']

# Create output

In [43]:
user_stock = etf_stock_price.sum() / stock_search_price

In [44]:
user_stock

0    0.232271
Name: Previous Close, dtype: float64

In [45]:
type(user_stock)

pandas.core.series.Series

In [46]:
# pd.DataFrame({'sum': user_stock.sum()})
total = user_stock.sum()

In [47]:
print(total)

0.2322708178897949

In [ ]:
# data[:20]

In [ ]:
# def get_stock(item, stonk):
#     if item[0] == stonk:
#         return item

In [ ]:
# for index, item in enumerate(data):
#     my_answer = get_stock(item, stocks_of_interest)
#     if my_answer != None:
#         good_answer = my_answer

In [ ]:
# (lambda x: x[:-1]

In [ ]:
# good_answer = good_answer[-1]
# good_answer

In [ ]:
# good_answer[:-1]