## Import libraries

In [1]:
# 1) Get URL
# 2) Parse through Table
# 3) Json/dataframe output of table
# 4) create testing scenario

In [2]:
#THINGS TO DO

# HOW THE FUCK DO WE GET MULTIPLE USER INPUT 
# - create 10 empty url searches? (That can be the cap)
# - Store 10 empty etf dollar amounts

In [3]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
from pathlib import Path

In [4]:
# Define a calculate_market_cap function, and then call it
def user_stock_choice(stock_of_interest):
    
    
    
    return stocks


def etf_values(etf_amount):
    
    etf_amount = []
    
    
    return etf_dollar

def etf_selection(etfs):
    etfs = []

etfs = str( input("Input your ETF of Interest: ") )
stocks_of_interest = str( input("Input your stocks that youre is's of Interest: ") )
etf_amount = int( input("how much money did you invest in this etf: ") )

etf_selection(etfs)



def calc_output(etfs,stock_of_interest,result_am):
   
    results_am = etfs * etfs_value
    

    return calc

Input your ETF of Interest:  QQQ
Input your stocks that youre is's of Interest:  AAPL
how much money did you invest in this etf:  150

In [5]:
# string_url = 'https://etfdb.com/etf/{etfs}/#holdings'

base_url = 'https://etfdb.com/etf'
function = '#holdings'
etf_selec = etfs

response = requests.get(f'{base_url}/{etf_selec}/{function}') .text

In [6]:
#request the URL 

# r = requests.get(string_url).text
soup = bs(response, 'lxml')
# print(soup.prettify())
# article = soup.find('table')

In [7]:
stocks_of_interest

'AAPL'

In [8]:
# parse stock selection


base = 'https://finance.yahoo.com/quote/'



response_stock = requests.get(f'{base}{stocks_of_interest}?p={stocks_of_interest}&.tsrc=fin-srch%27') .text

soup_stock = bs(response_stock,"html.parser")

In [9]:
l={}
u=list()

In [10]:
alldata = soup_stock.find_all('tbody')

In [11]:
try:
 table1 = alldata[0].find_all("tr")
except:
 table1=None
try:
 table2 = alldata[1].find_all("tr")
except:
 table2 = None

In [12]:
for i in range(0,len(table1)):
 try:
   table1_td = table1[i].find_all("td")
 except:
   table1_td = None
 l[table1_td[0].text] = table1_td[1].text
 u.append(l)
 l={}

In [13]:
for i in range(0,len(table2)):
 try:
   table2_td = table2[i].find_all('td')
 except:
   table2_td = None
 l[table2_td[0].text] = table2_td[1].text
 u.append(l)
 l={}

In [14]:
prev_close = pd.DataFrame(u[:1])

## Print out table of search

In [15]:
data=[]
for row in soup.select('tbody tr'):
    row_text = [x.text for x in row.find_all('td')]
    data.append((row_text))
    print(', '.join(row_text))

Open, -, Volume, -
Day Lo, -, Day Hi, -

Cheapest
, BKLC, 0.00%,
$80.0 M
,
12,784
,

Largest (AUM)
, SPY, 0.09%,
$300.3 B
,
71 M
, 3.79%

Most Liquid (Volume)
, SPY, 0.09%,
$300.3 B
,
71 M
, 3.79%

Top YTD Performer
, ARKW, 0.76%,
$2.3 B
,
744,814
, 79.09%
AAPL, Apple Inc, 13.33%
MSFT, Microsoft Corp, 10.72%
AMZN, Amazon.com Inc, 10.46%
FB, Facebook Inc, 4.27%
GOOGL, Alphabet Inc, 3.56%
GOOG, Alphabet Inc, 3.51%
TSLA, Tesla Inc, 3.49%
NVDA, NVIDIA Corp, 2.73%
ADBE, Adobe Inc, 2.03%
INTC, Intel Corp, 1.89%
CMCSA, Comcast Corp, 1.84%
NFLX, Netflix Inc, 1.84%
PYPL, PayPal Holdings Inc, 1.83%
PEP, PepsiCo Inc, 1.64%
CSCO, Cisco Systems Inc, 1.51%
Common equity, 99.85%
ETF Cash Component, 0.15%
Technology, 45.45%
Communications, 19.34%
Consumer, Cyclical, 17.86%
Healthcare, 6.45%
Consumer, Non-Cyclical, 4.7%
Other, 3.6%
Industrials, 1.81%
Utilities, 0.63%
ETF Cash Component, 0.15%
Large cap, 98.04%
Mid cap, 1.77%
ETF Cash Component, 0.15%
Small cap, 0.04%
North America, 95.79%
Europe, 1.91%
Asia, 1.56%
Latin America, 0.44%
Middle East, 0.15%
ETF Cash Component, 0.15%
United States, 95.79%
Developed Markets (ex-US), 2.06%
Emerging Markets, 2.0%
ETF Cash Component, 0.15%
United States, 95.79%
China, 1.56%
Germany, 1.23%
Netherlands, 0.57%
Argentina, 0.44%
Israel, 0.15%
ETF Cash Component, 0.15%
United Kingdom, 0.11%
Common equity, 99.85%
ETF Cash Component, 0.15%

In [16]:
#SELECT ONLY STOCK INFO FROM 'DATA' LIST
#TODO: ITERATE THROUGH KEYS RATHER THAN STATIC POSITIONS
data[6:21]

[['AAPL', 'Apple Inc', '13.33%'],
 ['MSFT', 'Microsoft Corp', '10.72%'],
 ['AMZN', 'Amazon.com Inc', '10.46%'],
 ['FB', 'Facebook Inc', '4.27%'],
 ['GOOGL', 'Alphabet Inc', '3.56%'],
 ['GOOG', 'Alphabet Inc', '3.51%'],
 ['TSLA', 'Tesla Inc', '3.49%'],
 ['NVDA', 'NVIDIA Corp', '2.73%'],
 ['ADBE', 'Adobe Inc', '2.03%'],
 ['INTC', 'Intel Corp', '1.89%'],
 ['CMCSA', 'Comcast Corp', '1.84%'],
 ['NFLX', 'Netflix Inc', '1.84%'],
 ['PYPL', 'PayPal Holdings Inc', '1.83%'],
 ['PEP', 'PepsiCo Inc', '1.64%'],
 ['CSCO', 'Cisco Systems Inc', '1.51%']]

In [17]:
stock_list = data[6:21]

In [18]:
stock_df = pd.DataFrame(stock_list)

In [19]:
stock_df.head()

       0               1       2
0   AAPL       Apple Inc  13.33%
1   MSFT  Microsoft Corp  10.72%
2   AMZN  Amazon.com Inc  10.46%
3     FB    Facebook Inc   4.27%
4  GOOGL    Alphabet Inc   3.56%

In [20]:
 # Rewrite the column names
columns = ["Ticker", "Name","Allocation"]
stock_df.columns = columns
stock_df.head()

  Ticker            Name Allocation
0   AAPL       Apple Inc     13.33%
1   MSFT  Microsoft Corp     10.72%
2   AMZN  Amazon.com Inc     10.46%
3     FB    Facebook Inc      4.27%
4  GOOGL    Alphabet Inc      3.56%

In [21]:
stock_df['Allocation'] = list(map(lambda x: x[:-1], stock_df['Allocation'].values))

stock_df.Allocation = stock_df.Allocation.astype(float)

stock_df['Allocation'] = stock_df['Allocation'].div(100)

In [22]:
stock_df.head()

  Ticker            Name  Allocation
0   AAPL       Apple Inc      0.1333
1   MSFT  Microsoft Corp      0.1072
2   AMZN  Amazon.com Inc      0.1046
3     FB    Facebook Inc      0.0427
4  GOOGL    Alphabet Inc      0.0356

In [23]:
#Create functions for etf calculation

# 1) what stock is user interest
# 2) dollar value of each ETF
# 3) stock allocation per dollar ratio
# 4) output stock

#todo create function that holds all users etf choices

In [24]:
stock_df['dollar'] = stock_df.Allocation * etf_amount

In [25]:
stock_df.head()

  Ticker            Name  Allocation  dollar
0   AAPL       Apple Inc      0.1333  19.995
1   MSFT  Microsoft Corp      0.1072  16.080
2   AMZN  Amazon.com Inc      0.1046  15.690
3     FB    Facebook Inc      0.0427   6.405
4  GOOGL    Alphabet Inc      0.0356   5.340

In [26]:
search_stock = stock_df.loc[stock_df['Ticker'] == stocks_of_interest]
search_stock

  Ticker       Name  Allocation  dollar
0   AAPL  Apple Inc      0.1333  19.995

In [27]:
stock_search_price = prev_close['Previous Close'].astype(float)

stock_search_price

0    110.34
Name: Previous Close, dtype: float64

In [28]:
etf_stock_price = search_stock['dollar']

In [29]:
user_stock = etf_stock_price / stock_search_price

In [30]:
user_stock

0    0.181213
dtype: float64